<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loc</key>
	<string>en_US:US</string>
	<key>mod-count</key>
	<integer>285</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>117290622</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAfAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATGF1bmNocGFkLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAADpWAAA////DwgAAAAE
				AwAAX9EGAP///w8IAAAABAMAABNRBwD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHBu3ToAAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDQAAAAEBAABIYWNraW50b3NoIEhE
				AAAACAAAAAQDAAAAAJr+PwAAAAgAAAAABAAAQcHtL9n2
				RSQkAAAAAQEAAEZGMjQ0MTM0LTE0QjEtNDE3Ri04MUM2
				LTg5MERBMDA4ODNBQRgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABMAAAAAAAAAAUQ
				AACQAAAAAAAAABAQAAC0AAAAAAAAAEAQAACkAAAAAAAA
				AAIgAABoAQAAAAAAAAUgAADUAAAAAAAAABAgAADkAAAA
				AAAAABEgAAAcAQAAAAAAABIgAAD8AAAAAAAAABMgAAAM
				AQAAAAAAACAgAABIAQAAAAAAADAgAAB0AQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3656147664</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>parent-mod-date</key>
				<integer>3658378935</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3902872673</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA5lRYA
				AAAAAAgAAAAEAwAA1Q4EAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwekni4AAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				Lw0AAAABAQAASGFja2ludG9zaCBIRAAAAAgAAAAEAwAA
				AACa/j8AAAAIAAAAAAQAAEHCAO/pcfEiJAAAAAEBAABG
				RjI0NDEzNC0xNEIxLTQxN0YtODFDNi04OTBEQTAwODgz
				QUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAOAAAAAAAAAAFEAAAaAAAAAAAAAAQ
				EAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefox</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox</string>
				<key>file-mod-date</key>
				<integer>116414458725423</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>63509052453196</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3902872674</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAADmVFgAAAAAACAAAAAQDAABaEwQAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHB5/0hgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDQAAAAEBAABIYWNraW50b3NoIEhEAAAA
				CAAAAAQDAAAAAJr+PwAAAAgAAAAABAAAQcIA7+lx8SIk
				AAAAAQEAAEZGMjQ0MTM0LTE0QjEtNDE3Ri04MUM2LTg5
				MERBMDA4ODNBQRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABAAAAAAAAAAAUQAABw
				AAAAAAAAABAQAACQAAAAAAAAAEAQAACAAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAACwAAAAAAAAABAgAADAAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3665158294</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>230411481642781</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3902872675</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEAAAAAEBAABTdWJsaW1l
				IFRleHQuYXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				OZUWAAAAAAAIAAAABAMAAJi4BAAAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcGha3WAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8NAAAAAQEAAEhhY2tpbnRvc2ggSEQAAAAIAAAA
				BAMAAAAAmv4/AAAACAAAAAAEAABBwgDv6XHxIiQAAAAB
				AQAARkYyNDQxMzQtMTRCMS00MTdGLTgxQzYtODkwREEw
				MDg4M0FBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAADwAAAAAAAAABRAAAGwAAAAA
				AAAAEBAAAIwAAAAAAAAAQBAAAHwAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAAKwAAAAAAAAAECAAALwAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.sublimetext.3</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Sublime%20Text.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Sublime Text</string>
				<key>file-mod-date</key>
				<integer>3652734955</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>132696680453179</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>117290624</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAdAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAA7lgAAP///w8IAAAABAMAAOLRBgD/
				//8PCAAAAAQDAADj0QYA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBwezIFQAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLw0AAAABAQAASGFja2ludG9zaCBIRAAAAAgAAAAE
				AwAAAACa/j8AAAAIAAAAAAQAAEHCAO/pcfEiJAAAAAEB
				AABGRjI0NDEzNC0xNEIxLTQxN0YtODFDNi04OTBEQTAw
				ODgzQUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAARAAAAAAAAAAFEAAAiAAAAAAA
				AAAQEAAArAAAAAAAAABAEAAAnAAAAAAAAAACIAAAYAEA
				AAAAAAAFIAAAzAAAAAAAAAAQIAAA3AAAAAAAAAARIAAA
				FAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAg
				IAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3656640734</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3658378935</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3902872676</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEaXNjb3Jk
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA5lRYA
				AAAAAAgAAAAEAwAAWxAbAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwgIeQgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				Lw0AAAABAQAASGFja2ludG9zaCBIRAAAAAgAAAAEAwAA
				AACa/j8AAAAIAAAAAAQAAEHCAO/pcfEiJAAAAAEBAABG
				RjI0NDEzNC0xNEIxLTQxN0YtODFDNi04OTBEQTAwODgz
				QUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAOAAAAAAAAAAFEAAAaAAAAAAAAAAQ
				EAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.hnc.Discord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Discord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Discord</string>
				<key>file-mod-date</key>
				<integer>3665409412</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>63509052453196</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>117290626</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAeAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAAO5YAAD///8PCAAAAAQDAADi
				0QYA////DwgAAAAEAwAA1Z0HAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcHiE8WAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8NAAAAAQEAAEhhY2tpbnRvc2ggSEQAAAAI
				AAAABAMAAAAAmv4/AAAACAAAAAAEAABBwgDv6XHxIiQA
				AAABAQAARkYyNDQxMzQtMTRCMS00MTdGLTgxQzYtODkw
				REEwMDg4M0FBGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEgAAAAAAAAABRAAAIwA
				AAAAAAAAEBAAALAAAAAAAAAAQBAAAKAAAAAAAAAAAiAA
				AGQBAAAAAAAABSAAANAAAAAAAAAAECAAAOAAAAAAAAAA
				ESAAABgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAAgBAAAA
				AAAAICAAAEQBAAAAAAAAMCAAAHABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iChat</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3656162029</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3658378935</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>117290638</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAhAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxYAAAABAQAAU3lzdGVtIFByZWZlcmVuY2VzLmFwcAAA
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAO5YAAD/
				//8PCAAAAAQDAADi0QYA////DwgAAAAEAwAAsZwHAP//
				/w8MAAAAAQYAAGgAAAB4AAAAiAAAAAgAAAAABAAAQcHS
				SAGAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8NAAAAAQEAAEhhY2tp
				bnRvc2ggSEQAAAAIAAAABAMAAAAAmv4/AAAACAAAAAAE
				AABBwgDv6XHxIiQAAAABAQAARkYyNDQxMzQtMTRCMS00
				MTdGLTgxQzYtODkwREEwMDg4M0FBGAAAAAECAACBAAAA
				AQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
				AAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAFQA
				AAAAAAAABRAAAJgAAAAAAAAAEBAAALwAAAAAAAAAQBAA
				AKwAAAAAAAAAAiAAAHABAAAAAAAABSAAANwAAAAAAAAA
				ECAAAOwAAAAAAAAAESAAACQBAAAAAAAAEiAAAAQBAAAA
				AAAAEyAAABQBAAAAAAAAICAAAFABAAAAAAAAMCAAAHwB
				AAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>3659139331</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3662628493</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1496126228</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAqAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAAEAAAAAEBAABEaXNr
				IFV0aWxpdHkuYXBwEAAAAAEGAAAQAAAAIAAAADQAAABI
				AAAACAAAAAQDAADuWAAA////DwgAAAAEAwAA4tEGAP//
				/w8IAAAABAMAAJcHBwD///8PCAAAAAQDAAB9FQcA////
				DxAAAAABBgAAeAAAAIgAAACYAAAAqAAAAAgAAAAABAAA
				QcHSQuAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
				AAAAAAAAAAgAAAABCQAAZmlsZTovLy8NAAAAAQEAAEhh
				Y2tpbnRvc2ggSEQAAAAIAAAABAMAAAAAmv4/AAAACAAA
				AAAEAABBwgDv6XHxIiQAAAABAQAARkYyNDQxMzQtMTRC
				MS00MTdGLTgxQzYtODkwREEwMDg4M0FBGAAAAAECAACB
				AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
				AAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAA
				AGAAAAAAAAAABRAAALgAAAAAAAAAEBAAAOAAAAAAAAAA
				QBAAANAAAAAAAAAAAiAAAJQBAAAAAAAABSAAAAABAAAA
				AAAAECAAABABAAAAAAAAESAAAEgBAAAAAAAAEiAAACgB
				AAAAAAAAEyAAADgBAAAAAAAAICAAAHQBAAAAAAAAMCAA
				AKABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.DiskUtility</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Disk%20Utility.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Disk Utility</string>
				<key>file-mod-date</key>
				<integer>3659136704</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>218707694936234</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1496126229</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAApAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAAO5YAAD///8PCAAAAAQDAADi0QYA////DwgA
				AAAEAwAAlwcHAP///w8IAAAABAMAAHARBwD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBwdI/
				yQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLw0AAAABAQAASGFja2lu
				dG9zaCBIRAAAAAgAAAAEAwAAAACa/j8AAAAIAAAAAAQA
				AEHCAO/pcfEiJAAAAAEBAABGRjI0NDEzNC0xNEIxLTQx
				N0YtODFDNi04OTBEQTAwODgzQUEYAAAAAQIAAIEAAAAB
				AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
				AAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAXAAA
				AAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAA
				zAAAAAAAAAACIAAAkAEAAAAAAAAFIAAA/AAAAAAAAAAQ
				IAAADAEAAAAAAAARIAAARAEAAAAAAAASIAAAJAEAAAAA
				AAATIAAANAEAAAAAAAAgIAAAcAEAAAAAAAAwIAAAnAEA
				AAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3659135122</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>218707694936234</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1505388481</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABMaWJyZU9m
				ZmljZS5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				OZUWAAAAAAAIAAAABAMAABLdHQAAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcIABqEAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8NAAAAAQEAAEhhY2tpbnRvc2ggSEQAAAAIAAAA
				BAMAAAAAmv4/AAAACAAAAAAEAABBwgDv6XHxIiQAAAAB
				AQAARkYyNDQxMzQtMTRCMS00MTdGLTgxQzYtODkwREEw
				MDg4M0FBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAADwAAAAAAAAABRAAAGwAAAAA
				AAAAEBAAAIwAAAAAAAAAQBAAAHwAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAAKwAAAAAAAAAECAAALwAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>org.libreoffice.script</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/LibreOffice.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>LibreOffice</string>
				<key>file-mod-date</key>
				<integer>3665135170</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>63509052453196</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>117290641</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>1</integer>
				<key>book</key>
				<data>
				Ym9vaxACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAJAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBAAAAAEGAAAQAAAACAAA
				AAQDAAA5lRYAAAAAAAQAAAABBgAAMAAAAAgAAAAABAAA
				QcHs5uQAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
				AAAAAAAAAAAAAAABBQAACAAAAAEJAABmaWxlOi8vLw0A
				AAABAQAASGFja2ludG9zaCBIRAAAAAgAAAAEAwAAAACa
				/j8AAAAIAAAAAAQAAEHCAO/pcfEiJAAAAAEBAABGRjI0
				NDEzNC0xNEIxLTQxN0YtODFDNi04OTBEQTAwODgzQUEY
				AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEA
				AAABAQAALwAAALQAAAD+////AQAAAAAAAAAOAAAABBAA
				ACQAAAAAAAAABRAAAEAAAAAAAAAAEBAAAFwAAAAAAAAA
				QBAAAEwAAAAAAAAAAiAAABgBAAAAAAAABSAAAIQAAAAA
				AAAAECAAAJQAAAAAAAAAESAAAMwAAAAAAAAAEiAAAKwA
				AAAAAAAAEyAAALwAAAAAAAAAICAAAPgAAAAAAAAAMCAA
				AHwAAAAAAAAAAdAAAHwAAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Applications</string>
				<key>file-mod-date</key>
				<integer>3658378996</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>28651094531326</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>117290639</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAHAAAAAQEAAHVuaWxvY2sACQAA
				AAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAA
				MAAAAAgAAAAEAwAAq1UAAAAAAAAIAAAABAMAAO5zAAAA
				AAAACAAAAAQDAAAhdAAAAAAAAAwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBwVOc/AAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAABAAAA
				AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8N
				AAAAAQEAAEhhY2tpbnRvc2ggSEQAAAAIAAAABAMAAAAA
				mv4/AAAACAAAAAAEAABBwgDv6XHxIiQAAAABAQAARkYy
				NDQxMzQtMTRCMS00MTdGLTgxQzYtODkwREEwMDg4M0FB
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
				AAAQAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAA
				AKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAOgAAAAAAAAAECAAAPgAAAAAAAAAESAAADABAAAA
				AAAAEiAAABABAAAAAAAAEyAAACABAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAAcAAAMwAAAAAAAAAEcAA
				ACAAAAAAAAAAEsAAANwAAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/unilock/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>127542716523362</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>214752027468654</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>US</string>
	<key>show-recents</key>
	<false/>
	<key>size-immutable</key>
	<true/>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
