<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{799, 448}</string>
	<key>NSSplitView Subview Frames SUMainWindow</key>
	<array>
		<string>0.000000, 0.000000, 198.000000, 500.000000, NO, NO</string>
		<string>199.000000, 0.000000, 726.000000, 500.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration kMainToolbarIdentifier</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>Sidebar Toolbar Button</string>
			<string>NSToolbarSpaceItem</string>
			<string>Add-Delete Volume Toolbar Button</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>First Aid Toolbar Button</string>
			<string>Partition Toolbar Button</string>
			<string>Erase Toolbar Button</string>
			<string>Restore Toolbar Button</string>
			<string>Mount Toolbar Button</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>Info Toolbar Button</string>
		</array>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>Sidebar Toolbar Button</string>
			<string>NSToolbarSpaceItem</string>
			<string>Add-Delete Volume Toolbar Button</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>First Aid Toolbar Button</string>
			<string>Partition Toolbar Button</string>
			<string>Erase Toolbar Button</string>
			<string>Image Toolbar Button</string>
			<string>Restore Toolbar Button</string>
			<string>Convert to APFS Toolbar Button</string>
			<string>Mount Toolbar Button</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>NSToolbarSpaceItem</string>
			<string>Info Toolbar Button</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame MainWindow</key>
	<string>210 191 925 522 0 0 1280 777 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>273 195 799 448 0 0 1280 777 </string>
	<key>NSWindow Frame OperationProgress</key>
	<string>435 294 475 371 0 0 1280 777 </string>
	<key>OperationProgress DetailsVisible</key>
	<true/>
	<key>SidebarShowAllDevices</key>
	<true/>
</dict>
</plist>
